
@{
    ViewData["Title"] = "Contact";
}

<div class="container-fluid text-center">
    <img src="~/images/pikachu.png" class="img-responsive margin" style="width:25%" alt="Image">
    <h2 class="text-primary">Any Questions?</h2>
    <p>Please send email to us</p>
    <p>pogo@pogo.com</p>

</div>
