@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-1 text-light">
    <div class="bgimage">
        <div class="container">
            <h1 class="display-4">PoGo Friends Maker</h1>
            <p class="lead">Welcome to make new PoGo Friends!</p>
        </div>
    </div>
</div>

<div class="container-fluid bg-2 pt-5 text-center">
    <h3>Want to find new Pokemon Go friends?</h3>
    <p>You have come to the right place. On this site, you can browse friend requests or leave yours. Where do you want to start?</p>
    <a asp-controller="Friend" asp-action="Create" class="btn btn-success m-2">Create Request</a> <a asp-controller="Friend" asp-action="Index" class="btn btn-success m-2">Browse request</a>
</div>

<div class="container-fluid bg-3 text-center pt-5">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/images/pokemon1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <img src="/images/pokemon2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <img src="/images/pokemon3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
    </div>
</div>
